<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitchBot Policy</title>
</head>

<body>
    <h3> Common terms and conditions of use of TwitchBot</h3>
    <h4>Information Collection and Use</h4>
    After authorization with Twtich website will collect your Twitch public username. <br> Our Service do not get, collect or store any other infromation about your Twitch channel.
    Twitch channel username is used to connect TwitchBot to your channel's chat. <br> 
    Using Twitch channel's username bot update your Online/Offline status by official provided Twitch API.

    <h4>Changes to This Privacy Policy </h4> <br>

    We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any
    changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective
    immediately, after they are posted on this page.
    <h4>Contact Us</h4> <br>
  
    If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at
    isaacstreaktip@gmail.com <br>

</body>

</html>