/* BLACK */
#all_black a:link {
    color: black;
    text-decoration: none; 
    
  }
  
  
  /* visited link */
  #all_black a:visited {
    color: black;
  }
  
  /* mouse over link */
  #all_black a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  
  /* selected link */
  #all_black a:active {
    color: black;
  }
    


  
  /* MOTHER */
  #mother a:link {
    color: rgb(124, 19, 19);
    text-decoration: none; 
  }

  
  /* visited link */
  #mother a:visited {
    color: rgb(124, 19, 19);
  }
  
  /* mouse over link */
  #mother a:hover {
    color: rgb(107, 2, 2);
    text-decoration: underline;
  }
  
  /* selected link */
  #mother a:active {
    color: black;
  }
  

  /* CHEST */
  #chest a:link {
    color: rgba(173, 143, 8, 0.863);
    text-decoration: none; 
  }

  
  /* visited link */
  #chest a:visited {
    color: rgba(173, 143, 8, 0.863);
  }
  
  /* mouse over link */
  #chest a:hover {
    color: rgb(187, 170, 19);
    text-decoration: none;
  }
  
  /* selected link */
  #chest a:active {
    color: rgb(124, 73, 73);
  }

  .chest-label{
    color: rgba(173, 143, 8, 0.863);
    font-family: 'Upheaval' !important;
    font-size: 42px;
    text-shadow: 2px 0 0 rgb(255, 255, 255), -2px 0 0 rgb(105, 105, 105), 0 2px 0 rgb(102, 102, 102), 0 -2px 0 rgba(255, 255, 255, 0.685), 1px 1px rgba(255, 255, 255, 0.692), -1px -1px 0 rgba(0, 0, 0, 0.753), 1px -1px 0 rgba(255, 255, 255, 0.685), -1px 1px 0 rgba(255, 255, 255, 0.589),  rgba(69, 69, 69, 0.6) 0.1em 0.17em 0.3em;
    /* text-shadow: rgba(69, 69, 69, 0.6) 0.1em 0.17em 0.3em; */
  }

  .upheav{
    font-family: 'Upheaval' !important;
    color: #000000;
    text-shadow: rgba(69, 69, 69, 0.6) 0.1em 0.17em 0.3em;
    line-height: 20px;
  }

  .upheav2{
    font-family: 'Upheaval' !important;
    color: #ffffff;
    text-shadow: rgba(69, 69, 69, 0.6) 0.1em 0.17em 0.3em;
    line-height: 20px;
  }
  
  .mother-label{
    color: rgb(124, 19, 19);
  }
  
  .px-spacing { letter-spacing: 0.7px; }
  
  .px-spacing-thead { letter-spacing: 1.8px; }

  .px-spacing-label { letter-spacing: 4.0px; }

  .mother-label{
    color: rgb(124, 19, 19);
  }

    /* EDEN */
    #eden a:link {
      color: rgba(110, 110, 110, 0.863);
      text-decoration: none; 
    }
  
    
    /* visited link */
    #eden a:visited {
      color: rgba(110, 110, 110, 0.863);
    }
    
    /* mouse over link */
    #eden a:hover {
      color: rgba(143, 136, 136, 0.863);
      text-decoration: underline;
    }
    
    /* selected link */
    #eden a:active {
      color: rgb(124, 73, 73);
    }
  
    .eden-label{
      color: rgba(110, 110, 110, 0.863);
    }
  