{% extends "template.html" %}

{% block title %}Admin panel{% endblock title %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
    content="Leaderboard of Isaac streak streamers. Follow current records in all categoies and discover new streamers for you! Eden streak, Mother, Blue baby">
<meta name="keywords"
    content="win streak isaac,isaac streak, The Binding of Isaac: Repentance, The Binding of Isaac: Rebirth, eden hard">
{% endblock meta %}
{% block table %}
<div class="left-right-margins-50px ">

    <div class="col-sm-5 middle-text upheav" id="all_black">
        <a href="/">
            <- Back </a>
    </div>

    <br><br><br><br>

    <div class="container-center center-text">


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <label class="middle-plus-text">{{message}}</label>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <br><br><br><br><br>


        <label class="middle-text" id="all_black">
            <form action="">
                <div class="input-group">
                    <input type="text" aria-label="current" class="form-control" value="name" disabled>
                    <input type="text" aria-label="current" class="form-control" value="current" disabled>
                    <input type="text" aria-label="current" class="form-control" value="best" disabled>
                    <input type="text" aria-label="current" class="form-control" value="category" disabled>

                </div>
                {% for record in all_records %}
                <div class="input-group">
                    <span class="input-group-text col-sm-3">{{record.name}}</span>
                    <input type="text" aria-label="current" class="form-control col-sm-3" value="{{record.current}}">
                    <input type="text" aria-label="best" class="form-control col-sm-3" value="{{record.best}}">
                    <input type="text" aria-label="category" class="form-control col-sm-3" value="{{record.category}}">

                    <br><br>
                </div>
                {% endfor %}
                <br>
                <div class="input-group">
                    <input type="text" aria-label="code" class="form-control col-sm-3" placeholder="secret code">
                    <button type="submit" href="/" class="btn-secondary col-sm-3">submit </button>
                
                </div>

                <br>
            </form>


        </label>
    </div>

</div>


{% endblock %}

{% block scripts %}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-430BRD8BVX"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-430BRD8BVX');
</script>
{% endblock %}