{% extends "template.html" %}

{% block title %}About{% endblock title %}
{% block meta %}
<meta name="viewport" content="width=device-width">
<meta name="description" content="Leaderboard of Isaac streak streamers. Follow current records in all categoies and discover new streamers for you! Eden streak, Mother, Blue baby">
<meta name="keywords" content="win streak isaac,isaac streak, The Binding of Isaac: Repentance, The Binding of Isaac: Rebirth, eden hard">
{% endblock meta %}
{% block table %}
<div class="left-right-margins-50px  fixed-size">

    <div class="col-sm-5 middle-text upheav" id="all_black">
        <a href="/">
            <- Back </a>
    </div>

    <br><br><br><br>

    <div class="container-center center-text">


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <label class="middle-plus-text">{{message}}</label>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <br><br>

        <div class="container-btn margin-bottom-15">
            <button type="submit" onclick="window.location.href='{{twitch_login}}';"
            class="btn btn-secondary purple-bg upheav-white "><img class="img-twitch"
              src="/static/img/twitch_offline.png"> Connect Twitch bot</button> <br>
        </div>

        <label class="middle-text" id="all_black">
            
            


            You can connect Twitchbot to your chat by   <br> 
            <b>Connect Twitch Bot</b> pressing button above. <br> 
            Bot wil help you to keep your streak updated  <br> by sending him accoring commands! <br> 
            Bot wil connect to your chat <br> and start waiting for commands <br>(you can find them below). <br>
            Read more detailed information  <br> and follow updates at our Discord. 
            <br><br> 

            Bot commands starts with <img class="img-thump" src="/static/img/thump.png"> <br>
            <u>Commands:</u>  <br><br>
            <label class="upheav"></label><b> BibleThump streak <i>your_streak</i> </b><br>
            [ Update your current streak in Leaderboard. <br> If current is also your best,  both will be updated. Mod only ]<br><br>
            <label class="upheav"></label><b> BibleThump best <i>your_best_streak</i> </b><br>
            [ Update your best streak in Leaderboard. Mod only ]<br><br>
            <label class="upheav"></label><b> BibleThump category <i>your_category</b></i><br>
            [ Update your category in Leaderboard. Mod only]<br>
            [ Categories: all_chapter, blue_baby, mother, lost, t_lost]<br><br>
            <label class="upheav"></label><b> BibleThump leaderboard </b><br>
            [ Give a link to leaderboard ]<br><br>

            Example: <br>
            <img class="img-example" src="/static/img/example_chat.png"> <br> <br>

            <hr>
            Something wrong? Have a question? <br>
            Contact me: <br>
            Telegram: <a target="_blank" href="https://www.t.me/whitexwine">t.me/whitexwine</a> <br>
            Discord: Lakaisky#6800 <br>
            Support project and help keep server allive: <br> <a target="_blank"
                href="https://www.patreon.com/whitexwine?fan_landing=true">Patreon</a> <br>
                 <a target="_blank"
                href="https://www.donationalerts.com/r/isaac_streak">Donate</a> <br>
            <label class="small-text-14"> <a href="https://www.flaticon.com/authors/pixel-perfect">Twitch icon
                    originally</a></label>
            <label class="small-text-14"> <a href="https://www.deviantart.com/komankk" target="_blank" >Issac icon originally</a></label> <br>
            <label class="small-text-14"> <a href="/terms" target="_blank">Terms of Use</a></label> <br>
            <label class="small-text-14"> <a href="/policy" target="_blank">Privacy Policy</a></label>
            <label class="small-text-14"> <a href="/bot_policy" target="_blank">TwitchBot Policy</a></label>


            
            <hr>

        </label>
    </div>

</div>


{% endblock %}

{% block scripts %}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-430BRD8BVX"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-430BRD8BVX');
</script>
{% endblock %}
